.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
    color: #2b8c3d;
}

button.menu-toggle,
button.menu-toggle:hover {
    border-color: #2b8c3d;
}

.main-navigation ul li a:hover,
.main-navigation ul li:hover > a,
.site-title a:hover,
.site-header ul.menu li.current-menu-item > a {
    color: #6ccd7e;
}

table:not( .has-background ) th {
    background-color: #f8f8f8;
}

table:not( .has-background ) tbody td {
    background-color: #fdfdfd;
}

table:not( .has-background ) tbody tr:nth-child(2n) td,
fieldset,
fieldset legend {
    background-color: #fbfbfb;
}

.site-header,
.secondary-navigation ul ul,
.main-navigation ul.menu > li.menu-item-has-children:after,
.secondary-navigation ul.menu ul,
.storefront-handheld-footer-bar,
.storefront-handheld-footer-bar ul li > a,
.storefront-handheld-footer-bar ul li.search .site-search,
button.menu-toggle,
button.menu-toggle:hover {
    background-color: #ffffff;
}

p.site-description,
.site-header,
.storefront-handheld-footer-bar {
    color: #0c46ce;
}

button.menu-toggle:after,
button.menu-toggle:before,
button.menu-toggle span:before {
    background-color: #2b8c3d;
}

h1, h2, h3, h4, h5, h6, .wc-block-grid__product-title {
    color: #333333;
}

.widget h1 {
    border-bottom-color: #333333;
}

body,
.secondary-navigation a {
    color: #0f753d;
}

.widget-area .widget a,
.hentry .entry-header .posted-on a,
.hentry .entry-header .post-author a,
.hentry .entry-header .post-comments a,
.hentry .entry-header .byline a {
    color: #147a42;
}

a {
    color: #27842c;
}

a:focus,
button:focus,
.button.alt:focus,
input:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
    outline-color: #27842c;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #166b20;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .widget a.button:hover {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    color: #166b20;
}

button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt {
    background-color: #12d15e;
    border-color: #12d15e;
    color: #ffffff;
}

button.alt:hover, input[type="button"].alt:hover, input[type="reset"].alt:hover, input[type="submit"].alt:hover, .button.alt:hover, .widget-area .widget a.button.alt:hover {
    background-color: #00b845;
    border-color: #00b845;
    color: #ffffff;
}

.pagination .page-numbers li .page-numbers.current {
    background-color: #e6e6e6;
    color: #056b33;
}

#comments .comment-list .comment-content .comment-text {
    background-color: #f8f8f8;
}

.site-footer {
    background-color: #ffffff;
    color: #6d6d6d;
}

.site-footer a:not(.button):not(.components-button) {
    color: #333333;
}

.site-footer .storefront-handheld-footer-bar a:not(.button):not(.components-button) {
    color: #2b8c3d;
}

.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6, .site-footer .widget .widget-title, .site-footer .widget .widgettitle {
    color: #333333;
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title {
    color: #2aa334;
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content {
    color: #0ecc86;
}

@media screen and ( min-width: 768px ) {
    .secondary-navigation ul.menu a:hover {
        color: #255fe7;
    }

    .secondary-navigation ul.menu a {
        color: #0c46ce;
    }

    .main-navigation ul.menu ul.sub-menu,
    .main-navigation ul.nav-menu ul.children {
        background-color: #f0f0f0;
    }

    .site-header {
        border-bottom-color: #f0f0f0;
    }
}

/*slider*/
div#n2-ss-1 .n2-ss-slider-1 {
    display: grid;
    position: relative;
}

div#n2-ss-1 .n2-ss-slider-2 {
    display: grid;
    position: relative;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    border: 0px solid RGBA(62, 62, 62, 1);
    border-radius: 0px;
    background-clip: padding-box;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    z-index: 1;
}

div#n2-ss-1:not(.n2-ss-loaded) .n2-ss-slider-2 {
    background-image: none !important;
}

div#n2-ss-1 .n2-ss-slider-3 {
    display: grid;
    grid-template-areas:'cover';
    position: relative;
    overflow: hidden;
    z-index: 10;
}

div#n2-ss-1 .n2-ss-slider-3 > * {
    grid-area: cover;
}

div#n2-ss-1 .n2-ss-slide-backgrounds, div#n2-ss-1 .n2-ss-slider-3 > .n2-ss-divider {
    position: relative;
}

div#n2-ss-1 .n2-ss-slide-backgrounds {
    z-index: 10;
}

div#n2-ss-1 .n2-ss-slide-backgrounds > * {
    overflow: hidden;
}

div#n2-ss-1 .n2-ss-slide-background {
    transform: translateX(-100000px);
}

div#n2-ss-1 .n2-ss-slider-4 {
    place-self: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: grid;
    grid-template-areas:'slide';
}

div#n2-ss-1 .n2-ss-slider-4 > * {
    grid-area: slide;
}

div#n2-ss-1.n2-ss-full-page--constrain-ratio .n2-ss-slider-4 {
    height: auto;
}

div#n2-ss-1 .n2-ss-slide {
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    position: relative;
    z-index: 20;
    -webkit-backface-visibility: hidden;
    transform: translateX(-100000px);
}

div#n2-ss-1 .n2-ss-slide {
    perspective: 1500px;
}

div#n2-ss-1 .n2-ss-slide-active {
    z-index: 21;
}

.n2-ss-background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

div#n2-ss-1 .n2-ss-background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

div#n2-ss-1 .n2-ss-background-animation .n2-ss-slide-background {
    z-index: auto;
}

div#n2-ss-1 .n2-bganim-side {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background: RGBA(51, 51, 51, 1);
}

div#n2-ss-1 .n2-bganim-tile-overlay-colored {
    z-index: 100000;
    background: RGBA(51, 51, 51, 1);
}

div#n2-ss-1 .nextend-arrow {
    cursor: pointer;
    overflow: hidden;
    line-height: 0 !important;
    z-index: 18;
    -webkit-user-select: none;
}

div#n2-ss-1 .nextend-arrow img {
    position: relative;
    display: block;
}

div#n2-ss-1 .nextend-arrow img.n2-arrow-hover-img {
    display: none;
}

div#n2-ss-1 .nextend-arrow:FOCUS img.n2-arrow-hover-img, div#n2-ss-1 .nextend-arrow:HOVER img.n2-arrow-hover-img {
    display: inline;
}

div#n2-ss-1 .nextend-arrow:FOCUS img.n2-arrow-normal-img, div#n2-ss-1 .nextend-arrow:HOVER img.n2-arrow-normal-img {
    display: none;
}

div#n2-ss-1 .nextend-arrow-animated {
    overflow: hidden;
}

div#n2-ss-1 .nextend-arrow-animated > div {
    position: relative;
}

div#n2-ss-1 .nextend-arrow-animated .n2-active {
    position: absolute;
}

div#n2-ss-1 .nextend-arrow-animated-fade {
    transition: background 0.3s, opacity 0.4s;
}

div#n2-ss-1 .nextend-arrow-animated-horizontal > div {
    transition: all 0.4s;
    transform: none;
}

div#n2-ss-1 .nextend-arrow-animated-horizontal .n2-active {
    top: 0;
}

div#n2-ss-1 .nextend-arrow-previous.nextend-arrow-animated-horizontal .n2-active {
    left: 100%;
}

div#n2-ss-1 .nextend-arrow-next.nextend-arrow-animated-horizontal .n2-active {
    right: 100%;
}

div#n2-ss-1 .nextend-arrow-previous.nextend-arrow-animated-horizontal:HOVER > div, div#n2-ss-1 .nextend-arrow-previous.nextend-arrow-animated-horizontal:FOCUS > div {
    transform: translateX(-100%);
}

div#n2-ss-1 .nextend-arrow-next.nextend-arrow-animated-horizontal:HOVER > div, div#n2-ss-1 .nextend-arrow-next.nextend-arrow-animated-horizontal:FOCUS > div {
    transform: translateX(100%);
}

div#n2-ss-1 .nextend-arrow-animated-vertical > div {
    transition: all 0.4s;
    transform: none;
}

div#n2-ss-1 .nextend-arrow-animated-vertical .n2-active {
    left: 0;
}

div#n2-ss-1 .nextend-arrow-previous.nextend-arrow-animated-vertical .n2-active {
    top: 100%;
}

div#n2-ss-1 .nextend-arrow-next.nextend-arrow-animated-vertical .n2-active {
    bottom: 100%;
}

div#n2-ss-1 .nextend-arrow-previous.nextend-arrow-animated-vertical:HOVER > div, div#n2-ss-1 .nextend-arrow-previous.nextend-arrow-animated-vertical:FOCUS > div {
    transform: translateY(-100%);
}

div#n2-ss-1 .nextend-arrow-next.nextend-arrow-animated-vertical:HOVER > div, div#n2-ss-1 .nextend-arrow-next.nextend-arrow-animated-vertical:FOCUS > div {
    transform: translateY(100%);
}

div#n2-ss-1 .n2-ss-control-bullet {
    visibility: hidden;
    text-align: center;
    justify-content: center;
    z-index: 14;
}

div#n2-ss-1 .n2-ss-control-bullet--calculate-size {
    left: 0 !important;
}

div#n2-ss-1 .n2-ss-control-bullet-horizontal.n2-ss-control-bullet-fullsize {
    width: 100%;
}

div#n2-ss-1 .n2-ss-control-bullet-vertical.n2-ss-control-bullet-fullsize {
    height: 100%;
    flex-flow: column;
}

div#n2-ss-1 .nextend-bullet-bar {
    display: inline-flex;
    vertical-align: top;
    visibility: visible;
    align-items: center;
    flex-wrap: wrap;
}

div#n2-ss-1 .n2-bar-justify-content-left {
    justify-content: flex-start;
}

div#n2-ss-1 .n2-bar-justify-content-center {
    justify-content: center;
}

div#n2-ss-1 .n2-bar-justify-content-right {
    justify-content: flex-end;
}

div#n2-ss-1 .n2-ss-control-bullet-vertical > .nextend-bullet-bar {
    flex-flow: column;
}

div#n2-ss-1 .n2-ss-control-bullet-fullsize > .nextend-bullet-bar {
    display: flex;
}

div#n2-ss-1 .n2-ss-control-bullet-horizontal.n2-ss-control-bullet-fullsize > .nextend-bullet-bar {
    flex: 1 1 auto;
}

div#n2-ss-1 .n2-ss-control-bullet-vertical.n2-ss-control-bullet-fullsize > .nextend-bullet-bar {
    height: 100%;
}

div#n2-ss-1 .nextend-bullet-bar .n2-bullet {
    cursor: pointer;
    transition: background-color 0.4s;
}

div#n2-ss-1 .nextend-bullet-bar .n2-bullet.n2-active {
    cursor: default;
}

div#n2-ss-1 div.n2-ss-bullet-thumbnail-container {
    position: absolute;
    z-index: 10000000;
}

div#n2-ss-1 .n2-ss-bullet-thumbnail-container .n2-ss-bullet-thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#n2-ss-1 .n2-style-98b890a69860771f94d32019bd5202d1-dot {
    background: RGBA(0, 0, 0, 0.67);
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    border: 0px solid RGBA(0, 0, 0, 1);
    border-radius: 50px;
    margin: 4px;
}

div#n2-ss-1 .n2-style-98b890a69860771f94d32019bd5202d1-dot.n2-active, div#n2-ss-1 .n2-style-98b890a69860771f94d32019bd5202d1-dot:HOVER, div#n2-ss-1 .n2-style-98b890a69860771f94d32019bd5202d1-dot:FOCUS {
    background: #09b474;
}

div#n2-ss-1 .n2-style-4eb0cfe3f8b39eae2833f25a46a1ccc3-simple {
    background: RGBA(0, 0, 0, 0.5);
    opacity: 1;
    padding: 3px 3px 3px 3px;
    box-shadow: none;
    border: 0px solid RGBA(0, 0, 0, 1);
    border-radius: 3px;
    margin: 5px;
}

div#n2-ss-1 .n2-ss-slide-limiter {
    max-width: 1629px;
}

div#n2-ss-1 .n-uc-FvqIEL8O85QU {
    padding: 0px 0px 0px 0px
}

div#n2-ss-1-align {
    max-width: 1140px;
}

div#n2-ss-1 .nextend-arrow img {
    width: 32px
}

@media (min-width: 1200px) {
    div#n2-ss-1 [data-hide-desktopportrait="1"] {
        display: none !important;
    }
}

@media (orientation: landscape) and (max-width: 1199px) and (min-width: 901px),(orientation: portrait) and (max-width: 1199px) and (min-width: 701px) {
    div#n2-ss-1 [data-hide-tabletportrait="1"] {
        display: none !important;
    }
}

@media (orientation: landscape) and (max-width: 900px),(orientation: portrait) and (max-width: 700px) {
    div#n2-ss-1 [data-hide-mobileportrait="1"] {
        display: none !important;
    }

    div#n2-ss-1 .nextend-arrow img {
        width: 16px
    }
}
