a.cart-contents,
.site-header-cart .widget_shopping_cart a {
    color: #2b8c3d;
}

a.cart-contents:hover,
.site-header-cart .widget_shopping_cart a:hover,
.site-header-cart:hover > li > a {
    color: #6ccd7e;
}

table.cart td.product-remove,
table.cart td.actions {
    border-top-color: #ffffff;
}

.storefront-handheld-footer-bar ul li.cart .count {
    background-color: #2b8c3d;
    color: #ffffff;
    border-color: #ffffff;
}

.woocommerce-tabs ul.tabs li.active a,
ul.products li.product .price,
.onsale,
.wc-block-grid__product-onsale,
.widget_search form:before,
.widget_product_search form:before {
    color: #0f753d;
}

.woocommerce-breadcrumb a,
a.woocommerce-review-link,
.product_meta a {
    color: #147a42;
}

.wc-block-grid__product-onsale,
.onsale {
    border-color: #0f753d;
}

.star-rating span:before,
.quantity .plus, .quantity .minus,
p.stars a:hover:after,
p.stars a:after,
.star-rating span:before,
#payment .payment_methods li input[type=radio]:first-child:checked + label:before {
    color: #27842c;
}

.widget_price_filter .ui-slider .ui-slider-range,
.widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #27842c;
}

.order_details {
    background-color: #f8f8f8;
}

.order_details > li {
    border-bottom: 1px dotted #e3e3e3;
}

.order_details:before,
.order_details:after {
    background: -webkit-linear-gradient(transparent 0, transparent 0), -webkit-linear-gradient(135deg, #f8f8f8 33.33%, transparent 33.33%), -webkit-linear-gradient(45deg, #f8f8f8 33.33%, transparent 33.33%)
}

#order_review {
    background-color: #ffffff;
}

#payment .payment_methods > li .payment_box,
#payment .place-order {
    background-color: #fafafa;
}

#payment .payment_methods > li:not(.woocommerce-notice) {
    background-color: #f5f5f5;
}

#payment .payment_methods > li:not(.woocommerce-notice):hover {
    background-color: #f0f0f0;
}

.woocommerce-pagination .page-numbers li .page-numbers.current {
    background-color: #e6e6e6;
    color: #056b33;
}

.wc-block-grid__product-onsale,
.onsale,
.woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
    color: #0f753d;
}

p.stars a:before,
p.stars a:hover ~ a:before,
p.stars.selected a.active ~ a:before {
    color: #0f753d;
}

p.stars.selected a.active:before,
p.stars:hover a:before,
p.stars.selected a:not(.active):before,
p.stars.selected a.active:before {
    color: #27842c;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    background-color: #eeeeee;
    color: #166b20;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    color: #166b20;
}

.button.added_to_cart:focus,
.button.wc-forward:focus {
    outline-color: #27842c;
}

.added_to_cart,
.site-header-cart .widget_shopping_cart a.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #166b20;
}

.added_to_cart:hover,
.site-header-cart .widget_shopping_cart a.button:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    color: #166b20;
}

.added_to_cart.alt, .added_to_cart, .widget a.button.checkout {
    background-color: #12d15e;
    border-color: #12d15e;
    color: #ffffff;
}

.added_to_cart.alt:hover, .added_to_cart:hover, .widget a.button.checkout:hover {
    background-color: #00b845;
    border-color: #00b845;
    color: #ffffff;
}

.button.loading {
    color: #eeeeee;
}

.button.loading:hover {
    background-color: #eeeeee;
}

.button.loading:after {
    color: #166b20;
}

@media screen and ( min-width: 768px ) {
    .site-header-cart .widget_shopping_cart,
    .site-header .product_list_widget li .quantity {
        color: #0c46ce;
    }

    .site-header-cart .widget_shopping_cart .buttons,
    .site-header-cart .widget_shopping_cart .total {
        background-color: #f5f5f5;
    }

    .site-header-cart .widget_shopping_cart {
        background-color: #f0f0f0;
    }
}

.storefront-product-pagination a {
    color: #0f753d;
    background-color: #ffffff;
}

.storefront-sticky-add-to-cart {
    color: #0f753d;
    background-color: #ffffff;
}

.storefront-sticky-add-to-cart a:not(.button) {
    color: #2b8c3d;
}